<div class="ui secondary pointing menu" id='header'>
  <div class="ui text container">
    <a class="active item name" href="/">
      <strong>Work</strong> &nbsp; <em>Betta</em>
    </a>
    <a class="item name" href="">
      <em><%= current_page.data.title %></em>
    </a>
  </div>
</div>
