@media print {
  .divider {
    page-break-before: always;
  }

  .container {
    padding: 1em 1em;
  }

  #copyright-notice {
    position: relative;
    top: 8em;
  }

  #main-header {
    display: none;
  }
  .segment, .segments {
    page-break-inside: avoid;
  }

  .segments, .segment {
    box-shadow: none !important;
  }

  .message, .card {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }
}


@media not print {
  .divider {
    margin-top: 10em;
  }
}
